@font-face {
    font-family: AU_Passata;
    src: url(font-au/AUPassata_Rg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: AU_Passata_bold;
    src: url(font-au/AUPassata_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AU_Passata_light;
    src: url(font-au/AUPassata_Light.ttf);
}


* {
  margin: 0; padding: 0;
  font-family: AU_Passata;
}

body {
  background: url('../img/bg.jpg');
  background-size: cover;
  overflow: hidden;
}

.topbar {
  width: 100vw;
  height: 10vh;
  background: white;
  color: #3f5e7d;
  line-height: 10vh;
}

.topbar h1,h2,h3,h4 {
  color: #3f5e7d;
}

.topbar img {
  height: 10vh;
  width: auto;
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: white;
  line-height: 10vh;
  position: fixed;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 100px;
}

.footer img {
  display: inline-block;
  height: 5vh;
  width: auto;
  vertical-align: middle;
  z-index: 0;
}

.dimmer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.announcement {
  width: 60vw;
  height: 30vw;
  background: #3f5e7d;
  color: white;
  font-size: 2em;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
  left: 16vw;
  top: 5vw;
  text-align: center;
  padding: 3%;
}

.twitter {
  background: white;
  /*height: 22vh; /* 35 til kun tekst - 50 m billede */
  width: 50vw;
  margin-left: auto; margin-right: auto;
  margin-top: 3vw;
  padding: 1%;
  border-radius: 5px;
}

.twitter .image img {
  display: block;
  width: 60%;
  height: auto;
  margin-left: auto; margin-right: auto;
  margin-top: 5px;
}

.twitter .header {
  padding-bottom: 10px;
  border-bottom: thin solid lightgrey;
}

.twitter .header img {
  height: 30px;
  width: auto;
  display: inline-block; vertical-align: middle;
}

.twitter .meta {
  font-size: 1.3em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: thin solid lightgrey;
}

/** INSTAGRAM **/

.instagram {
  background: white;
  width: 900px;
  margin-left: auto; margin-right: auto;
  margin-top: 3vw;
}

.instagram .header img {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.instagram .image {
  width: 640px;
  float: left;
}

.instagram .image img {
  width: 640px;
  height: auto;
}

.instagram .header {
  padding: 1%;
}

.instagram .meta {
  width: 260px;
  float: left;
  height: 640px;
  background: white;
}
.instagram .meta .meta_content {
  overflow: hidden;
  padding: 3%;
}
