'<div class="instagram"><div class="header"><img src="%USRIMG%" style="display: inline-block"><p style="display: inline-block;">%USRNAME%</p><div style="float: right"><span style="color: red;">❤</span> %LIKES% 💬 %COMMENTS%</div></div><div class="image">%MEDIA%</div><div class="meta"><div class="meta_content">%META%</div></div></div>'
<!--
.instagram {
  background: white;
  /*height: 22vh; /* 35 til kun tekst - 50 m billede */
  height: auto;
  width: 50vw;
  margin-left: auto; margin-right: auto;
  margin-top: 3vw;
  border-radius: 5px;
  display: table;
}

.instagram .header {
  padding: 1%;
  height: 3vh;
}

.instagram .header img {
  height: 30px;
  width: auto;
  display: inline-block; vertical-align: middle;
}

.instagram .meta {
  background: white;
}

.instagram .image img {
  width: 100%;
  height: auto;
}

.instagram .image {
  width: 100%;
  height: auto;
}
-->
